<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rtk.media.ext"
    android:installLocation="auto"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="26" />

</manifest>
