<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rtk.partnerinterface"
    android:sharedUserId="android.uid.system"
    >
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-permission android:name="com.android.setupwizard.permission.SETUP" />
    <uses-permission android:name="android.permission.REBOOT" />

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name="com.rtk.partnerinterface.HookBeginActivity">
            <intent-filter>
                <action android:name="com.android.setupwizard.action.HOOK_BEGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>